body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;  
    box-shadow: 0 0 30px #333; 
}

section {
    margin-top: 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #ddd;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px;
}

footer {
    background-color: #333;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    font-size: 1em;
}